
	
	

<div class="flexrow headTop">
	<div class="item" style="flex-basis: 30%">
		<img src="assets/img/logo_web.png" height="50px">
	</div>
	<div class="item">About Us</div>
	<div class="item">Locations</div>
	<div class="item">Apparel</div>
	<div class="item">Events</div>
	<div class="item">My Styles</div>
	<div class="item"><i class="material-icons">account_box</i></div>
</div>




<div class="flexrow headMain">
	<div class="item">
		
<!-- 		<title>Local Shopping for Tshirts, Sweatshirts, Gifts on Cape Cod | Cuffys on the Cape</title>
 --><h1 style="font-size: 50px">Shopping for Gifts<br/> and Clothes on the Cape?</h1>
<p>Get shopping in any of our four Cape Cod stores for original t-shirts,<br/> sweatshirts, pants, shorts, gifts, home decor and more!</p>
<button mat-raised-button color="primary">Shop the Look</button>
		<p>Brand new styles, check them out now.<br/> Favorite the ones you like and save them for later.</p>
	 
	</div>

	<div class="item"></div>
</div>

